<p id="notice"><%= notice %></p>

<p>
  <b>Latitude ponto1:</b>
  <%= @transito.latitude_ponto1 %>
</p>

<p>
  <b>Longitude ponto1:</b>
  <%= @transito.longitude_ponto1 %>
</p>

<p>
  <b>Latitude ponto2:</b>
  <%= @transito.latitude_ponto2 %>
</p>

<p>
  <b>Longitude ponto2:</b>
  <%= @transito.longitude_ponto2 %>
</p>

<p>
  <b>Polyline:</b>
  <%= @transito.polyline %>
</p>

<p>
  <b>Via:</b>
  <%= @transito.via %>
</p>

<p>
  <b>Via num:</b>
  <%= @transito.via_num %>
</p>

<p>
  <b>Bairro:</b>
  <%= @transito.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @transito.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @transito.estado %>
</p>

<p>
  <b>Pais:</b>
  <%= @transito.pais %>
</p>

<p>
  <b>Cep:</b>
  <%= @transito.cep %>
</p>

<p>
  <b>Intensidade:</b>
  <%= @transito.intensidade %>
</p>

<p>
  <b>Reportado:</b>
  <%= @transito.reportado %>
</p>

<p>
  <b>Ativo:</b>
  <%= @transito.ativo %>
</p>


<%= link_to 'Edit', edit_transito_path(@transito) %> |
<%= link_to 'Back', transitos_path %>
