<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @evento.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @evento.longitude %>
</p>

<p>
  <b>Data hora:</b>
  <%= @evento.data_hora %>
</p>

<p>
  <b>Descricao:</b>
  <%= @evento.descricao %>
</p>

<p>
  <b>Foto:</b>
  <%= link_to 'Foto', :action => 'foto', :id => @evento if !@evento.foto.nil? %>
</p>

<p>
  <b>Evento tipo:</b>
  <%= @evento.evento_tipo_id %>
</p>

<p>
  <b>Dispositivo:</b>
  <%= @evento.dispositivo_id %>
</p>

<p>
  <b>Ativo:</b>
  <%= @evento.ativo %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
