<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @registro.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @registro.longitude %>
</p>

<p>
  <b>Via:</b>
  <%= @registro.via %>
</p>

<p>
  <b>Via_Num:</b>
  <%= @registro.via_num %>
</p>

<p>
  <b>Bairro:</b>
  <%= @registro.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @registro.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @registro.estado %>
</p>

<p>
  <b>País:</b>
  <%= @registro.pais %>
</p>

<p>
  <b>CEP:</b>
  <%= @registro.cep %>
</p>

<p>
  <b>Velocidade:</b>
  <%= @registro.velocidade %>
</p>

<p>
  <b>Data hora:</b>
  <%= @registro.data_hora %>
</p>

<p>
  <b>Dispositivo:</b>
  <%= @registro.dispositivo_id %>
</p>


<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
