<h1>Listing evento_tipos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Icone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evento_tipos.each do |evento_tipo| %>
  <tr>
    <td><%= evento_tipo.nome %></td>
    <td><%= evento_tipo.icone %></td>
    <td><%= link_to 'Show', evento_tipo %></td>
    <td><%= link_to 'Edit', edit_evento_tipo_path(evento_tipo) %></td>
    <td><%= link_to 'Destroy', evento_tipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evento tipo', new_evento_tipo_path %>
