<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @evento_tipo.nome %>
</p>

<p>
  <b>Icone:</b>
  <%= @evento_tipo.icone %>
</p>


<%= link_to 'Edit', edit_evento_tipo_path(@evento_tipo) %> |
<%= link_to 'Back', evento_tipos_path %>
